<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Widget Demo</title>
        <script src="https://unpkg.com/lodash@4.17.20"></script>
        <style>
            *{font-family: Arial, Helvetica, sans-serif;}
            html{
                max-width: 1280px;
                margin: auto;
                padding: 12px;
            }
            .demo-div{
                padding: 12px;
                background: #fff;
                border-radius: 6px;
                margin-bottom: 12px;
                box-shadow: 0px 0px 12px #ddd;
            }
        </style>
    </head>
    <body>
        <h1>Widget Demo</h1>
        <script src="./<%= htmlWebpackPlugin.options.libraryPath %>"></script>
    </body>
</html>